{% extends "base.html" %}
    {% block content %}
        <div class="sixteen columns">
            <h2>Historial de consumos</h2>

            <h4>De {{ pasado }} a {{ futuro }}</h4>

            <ul>
                {% for usuario, total in consumos.items() %}
                    <li><b>{{ usuario }}</b> Total: <b>${{ total }}</b> <a class="button" href="/consulta/{{ usuario }}/{{ pasado }}-a-{{ futuro }}/">Detalle</a></i></li>
                {% endfor %}
            </ul>

            <a class="button" href="javascript:history.go(-1);">Volver atrás</a>
            <a class="button" href="/consulta/cierre/{{ pasado }}-a-{{ futuro }}/">Cierre de Caja</a>
        </div>
    {% endblock %}