<!doctype html>
<html>
<head>
    <title>Drinklogger</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<meta charset="utf-8">

</head>
<body>
    <div id="container" class="container">

        <div class="sixteen columns">
            <h2>Historial de consumos</h2>
            <h4>Del {{ pasado }} a {{ futuro }}</h4>

            <ul>
                {% for usuario, total in consumos.items() %}
                    <li><b>{{ usuario }}</b> Total: <b>${{ total }}</b> <a class="button" href="/consulta/{{ usuario }}/{{ fecha }}/">Detalle</a></i></li>
                {% endfor %}
            </ul>

            <a class="button" href="javascript:history.go(-1);">Volver atrás</a>
        </div>

    </div>
</body>
</html>