<!doctype html>
<html>
<head>
    <title>Drinklogger</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta charset="utf-8">

</head>
<body>
    <div id="container" class="container">

        <div class="sixteen columns">

            <h2>Detalle de {{ usuario }}</h2>

            <ul>
                {% for detalle in detalles %}
                    <li><b>{{ detalle.fecha }}</b> - {{ detalle.producto }} x{{ detalle.cantidad }} (${{ detalle.precio }})</li>
                {% endfor %}
            </ul>

            <a class="button" href="javascript:history.go(-1);">Volver atrás</a>
        </div>

    </div>
</body>
</html>