{% extends "base.html" %}
    {% block content %}
        <div class="sixteen columns">

            <h2>Editar {{ usuario.nombre }}</h2>

            <form method="POST" action="/usuario/editado/">
                <p><input type="hidden" name="usuario_id" value="{{ usuario.id }}"></p>
                <p><b>Nombre:</b> <input class="keyboardInput" type="text" name="nombre" value="{{ usuario.nombre }}"></p>
                <p><b>Email:</b> <input class="keyboardInput" type="text" name="email" value="{{ usuario.email }}"></p>
                <p><b>Contraseña:</b> <input class="keyboardInput" type="password" name="pass"></p>
                <p><b>Repetir contraseña:</b> <input class="keyboardInput" type="password" name="pass2"></p>
                <p><input class="button" type="submit" value="Editar"></p>
            </form>

            <a class="button" href="{{ url_for('manejo_usuario') }}">Volver atrás</a>
        </div>
    {% endblock %}