{% extends "base.html" %}
    {% block content %}
        <div class="uk-width-1-1">

            <h1>Error</h1>

            {% if args['error'] == 404 %}
                <p>Página no encontrada.</p>
            {% elif args['error'] == 406 %}
                <p>Error en la carga o entrada de datos.</p>
            {% elif args['error'] == 'cantidad' %}
                <p>La bebida solicitada no tiene la cantidad solicitada de productos.</p>
            {% elif args['error'] == 'stock' %}
                <p>No hay stock de la bebida solicitada.</p>
            {% elif args['error'] == 'pass' %}
                <p>Contraseña incorrecta.</p>
            {% else %}
                <p>Error desconocido, intente luego.</p>
            {% endif %}

            <a class="uk-button uk-button-primary uk-button-large" href="javascript:history.go(-1);">Volver atrás</a>
        </div>
    {% endblock %}