{% extends "base.html" %}
    {% block content %}
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <h1 class="uk-h1 uk-text-center">Drinklogger</h1>
                <h2></h2>
            </div>
        </div>
        <div class="uk-grid uk-grid-preserve">
                <div class="uk-width-1-2">
                    <ul class="menu uk-list uk-list-space">
                        <li><a href="javascript:mostrarPedidos();">Pedir</a></li>
                        <li><a href="javascript:mostrarConsultas();">Consultas</a></li>
                        {% if args['auth'] %}
                        <li><a href="/usuario/">Manejo de Usuarios</a></li>
                        <li><a href="/admin/">Administración</a></li>
                        {% else %}
                        <li><a href="accounts/login/?next=%2Fadmin%2F">Loguearse</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div id="main" class="uk-width-1-2">
                    <ul id="lista" class="lista"></ul>
                </div>
                <div id="inventory" style="display:none;" class="uk-width-1-2">
                    <h2>Seleccionar</h2>

                    <form class="uk-form-row" method="POST">
                    <ul class="uk-list uk-list-space inv-menu">
                        <li>
                            <select id="productos" name="productos" onchange="admSelectCheck(this)"></select>
                            <select id="cantidad" name="cantidad">
                                 <option value="1" selected="selected">1</option>
                           </select>
                        </li>
                        <li id="persona">
                            Usuario: <select id="personas" name="personas" onchange="enable(this)">
                                <option value="0" selected="selected">------------</option>
                                {% for usuario in args['usuarios'] %}
                                    <option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li id="pass">
                            Contraseña: <input id="password" class="keyboardInput" size="10" type="password" name="pass">
                        </li>

                        <div id="add_err" stye="display:none">
                        </div>
                        <li>
                            <input class="uk-button uk-button-primary uk-button-large" id="checklogin" type="button" value="Enviar Pedido" disabled>
                            <a class="uk-button uk-button-success uk-button-large" href="#" onClick="aStock();">Volver Atrás</a>
                        </li>
                    </ul>
                    </form>
                </div>
                <div id="consulta" style="display:none;" class="uk-width-1-2">
                    <h2>Consultas</h2>

                    <form class="uk-form" method="POST" action="/consulta/">
                        <p>Fecha: <input id="date" name="pasado" type="text" size="8" value="{{ args['semana_pasada'] }}" onclick="scwShow(this,event);" /> a <select id="fecha" onchange="cambioFecha(this)">
                            <option value="0" selected>Hoy</option>
                            <option value="1">Otra fecha</option>
                        </select>
                        <input input id="futuro" style="display:none;" name="futuro" type="text" size="8" onclick="scwShow(this,event);" />
                        </p>
                        <p><input class="uk-button uk-button-primary uk-button-large" type="submit" value="Consultar"><a style="margin-left:10px;" class="uk-button uk-button-success uk-button-large" href="javascript:aStock();">Volver Atrás</a></p> <!-- A futuro: borrar el margin-left -->
                    </form>
                </div>
        </div>
    {% endblock %}