<!doctype html>
<html>
<head>
    <title></title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<meta charset="utf-8">
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div id="container" class="container">
        {% if exito != None %}
            {% if exito == True %}
                <div class="exito">Hecho. Ya podés disfrutar tu bebida.</div>
            {% endif %}
            {% if exito == False %}
                <div class="error">Error. Intente de nuevo.</div>
            {% endif %}
        {% endif %}

        <div class="sixteen columns header">
            <h1>Drinklogger</h1>
        </div>
            <div class="seven columns products">
                <ul class="menu">
                    <li><a href="javascript:mostrar();">Pedir</a></li>
                </ul>
            </div>
            <div id="main" class="seven columns">
                <ul class="lista">
                {% for producto in productos %}
                    <li>{{ producto.nombre }} x{{ producto.cant }}</li>
                {% endfor %}
                </ul>
            </div>
            <div id="inventory" style="display:none;" class="seven columns">
                <h2>Seleccionar</h2>

                <form method="POST" action="{{ url_for('consumo') }}">
                <ul class="inv-menu">
                    <li>
                        <select id="productos" name="productos" onchange="admSelectCheck(this)">
                            <option value="null" selected="selected">--------</option>
                        {% for producto in productos %}
                            <option value="{{ producto.id }}">{{ producto.nombre }}</option>
                        {% endfor %}
                        </select>
                        <select id="quantity" name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </li>
                    <li>Para: <select id="personas" name="personas" onchange="enable(this)">
                        <option value="0">------------</option>
                        {% for usuario in usuarios %}
                            <option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
                        {% endfor %}
                    </select></li>
                    <li><input id="enviar" type="submit" value="Enviar" disabled></li>
                </ul>
                </form>
            </div>
    </div>
</body>
</html>