{% extends "base.html" %}
    {% block content %}
    <div class="uk-grid">
        <div class="uk-width-1-2 uk-grid-preserve">

            <h2>Crear Usuario</h2>

            <form method="POST" action="/usuario/crear/">
                <p><b>Nombre:</b> <input class="keyboardInput" type="text" name="nombre"></p>
                <p><b>Email:</b> <input class="keyboardInput" type="text" name="email"></p>
                <p><b>Contraseña:</b> <input class="keyboardInput" type="password" name="pass"></p>
                <p><input class="uk-button uk-button-primary uk-button-large" type="submit" name="" value="Registrar"></p>
            </form>

        </div>

        <div class="uk-width-1-2">

            <h2>Usuarios</h2>

            <table class="uk-table uk-table-hover uk-table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.email }}</td>
                        <td><a href="/usuario/editar/{{ usuario.id }}/">Editar</a></td>
                        <td><a href="/usuario/eliminar/{{ usuario.id }}/">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="uk-button uk-button-primary uk-button-large" href="{{ url_for('home') }}">Volver atrás</a>
        </div>
    </div>
    {% endblock %}