{% extends "admin/panels/default.html" %}

{% block panel_content %}

        {% if usuarios %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th><h3>Nombre<h3></th>
                    <th><h3>Email<h3></th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    <h2>Crear usuario</h2>
  <form class="form-group" method="post" action="{{ url_for(panel.get_url_name('create')) }}">
    <input type="hidden" value="{{ request.url }}" />
    <p>Nombre: <input type="text" name="nombre" /></p>
    <p>Email: <input type="text" name="email" /></p>
    <p>Contraseña: <input type="password" name="pass" /></p>
    <p><button type="submit" class="btn small">Guardar</button></p>
  </form>
{% endblock %}